.header {
  grid-area: h;
  border-bottom: transparent;
  background: linear-gradient(to bottom, #e0eafc 50%, #4ca2af3f);
}
.auth * {
  color: rgba(3, 29, 55, 0.686);
  font-size: 1.1rem;
  font-weight: 400;
  text-decoration: none;
  float: right;
}
